*.pyc
*zip
*tar.gz
*ppm
*png
__pycache__
documente licenta
BelgianTrafficSignData
German-Augmented
GTSRB
augmented
poze
image_segmentation/background_set/*
image_segmentation/FullIJCNN2013/*
[Joseph_Howse]*
